/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   #searchInput{
	width:200px;
   }

   #main .navbar
   {
      background: black;
   }

   #act{
      background: black;
   }

   .nav .active a{
      color: yellow;
      font-size: 17px;
   }

   #account{
      color: yellow;
      font-size: 17px;
   }
                    
   #service{
      color: yellow;
      font-size: 17px;
   }
/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}
